* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

.card {margin: 3%;
    width: 30%;
    box-shadow: 0px 0px 5px 5px lightblue;
    background-color: teal;
    display: inline-block;;
}
h4 {
    padding: 8%;
} 


.img-card {overflow: hidden;
    width: 100%;
    
}

.img-card img {object-fit: cover;
    width: 100%;transition: 2s;
}


.img-card img:hover{transform:rotate(15deg) scale(1.4) ;
}